spring:
  application:
    name: nik-commerce-inventory
  datasource:
    url: jdbc:h2:./nik-commerce-inventorydb
    username: sa
    password:


  jpa:
    hibernate:
      ddl-auto: create
    generate-ddl: true
    show-sql: true

  h2:
    console:
      enabled: true

server:
  port: 9292




eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

  service-url: http://localhost:8761/eureka/

